@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neucha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.account-container {
  width: 150px;
  font-family: "Inter";
  position: absolute;
  display: flex;
  border-radius: 0.3rem;
  flex-direction: column;
  right: 20%;
  margin-top: 2rem;
  background-color: white;
  z-index: 99999;
  padding: 1.5rem 1.5rem;
  gap: 0.7rem;
  align-items: baseline;
  font-size: 0.9rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* align-items: center; */
}
.sub-links {
  border: none;
  background-color: white;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
  width: 100%;
  padding: 0.3rem;
}
.sub-links:hover {
  background-color: rgb(254 215 170);
}
.sub-btn:hover {
  background-color: rgb(254 215 170);
}
.sub-btn {
  font-family: "Poppins";
  background-color: white;
  border: none;
  float: left;
  width: 100%;
  text-align: left;
  padding: 0.3rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.admin {
  color: red;
}
.username-container {
  display: flex;
  gap: 0.3rem;
  border-bottom: 1px solid rgb(241, 223, 223);
  padding-bottom: 0.5rem;
}
.dashboard-account-container {
  width: 40%;
  font-family: "Poppins";
  border-right: 1px solid rgb(241, 223, 223);

  background-color: white;
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
@media only screen and (max-width: 1200px) {
  .dashboard-account-container {
    position: absolute;
    margin-top: 3rem;
    z-index: 999;
  }
}
