@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neucha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.add-address-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: black;
  border-radius: 0.4rem;
  width: 350px;
  justify-self: center;
  margin-top: 2rem;
  font-family: "Inter";
  max-height: 80%;
  overflow: scroll;
}
.add-address-form input {
  background-color: #eff6ff;
  padding: 0.6rem;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.top-heading {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 1rem 0 0.5rem;
  font-weight: 700;
}
.submit-btn {
  background-color: #ffc929;
  padding: 0.7rem;
  border: none;
  font-weight: 700;
  margin-top: 0.5rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background: linear-gradient(
    rgba(4, 3, 3, 0.927),
    rgba(4, 3, 3, 0.927),
    rgba(4, 3, 3, 0.927),
    rgba(4, 3, 3, 0.927)
  );
}
