.category-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.category-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  /* box-shadow: 0px 10px 10px 0px rgb(173, 167, 167); */
}
.category-header p {
  font-family: "Inter";
  font-weight: 500;
}
.category-header button {
  padding: 0.3rem;
  background-color: initial;
  border: 2px solid #febf00;
  border-radius: 0.5rem;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 100vh;
  overflow: scroll;
  margin-top: 0.5rem;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
}
.individula-category-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: red;
  height: 45vh;
  width: 220px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media only screen and (max-width: 1200px) {
  .individula-category-container {
    width: 80%;
  }
}
.individula-category-container img {
  width: 200px;
  height: 200px;
}
.individula-category-container button {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  border: none;
  color: white;
  font-weight: 700;
  font-family: "Inter";
  background-color: #1cc94a;
}
.dispaly_category_name {
  color: black;
  font-family: "Inter";
  font-weight: 500;
  border-right: 1px solid whitesmoke;
}
