.checkout-container {
  width: 100%;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.checkout-container h4 {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
}
.link-c {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.bill-c {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.checkout-sub-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .checkout-sub-container {
    flex-direction: column;
    align-items: center;
  }
}
#online {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: #15803d;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 0.2rem;
  border: none;
  text-decoration: none;
}
#cash {
  border: 3px solid #15803d;
  padding: 0.5rem;
  color: #15803d;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  background-color: initial;
}
