.product-display-cat-page {
  position: relative;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .product-display-cat-page {
    margin-top: 4rem;
  }
}
.category-info-cat-page {
  width: 200px;
  display: flex;
  flex: 0 0 auto;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border: 1px solid rgb(212, 206, 206);
  border-radius: 0.4rem;
}
.category-info-cat-page img {
  width: 100%;
  height: 200px;
}
.discount-time-cat-page {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}
.discount-time-cat-page p {
  color: green;
  font-family: sans-serif;
  background-color: #dcfce7;
}
.price-cart-info-cat-page {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem;
}
.product-description-cat-page {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.quantity-cat-page {
  font-family: sans-serif;
  font-size: 1rem;
  text-align: left;
}
.product-price-cat-page {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.add-to-cart-cart-page {
  background-color: rgb(22 164 74);
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
}
