.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  gap: 1rem;
  justify-content: center;
}
.individual-product {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: white;
  margin: 0.5rem 0.5rem 0.5rem 1.5rem;
  font-family: "Inter";
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
@media only screen and (max-width: 1200px) {
  .individual-product {
    width: 80%;
  }
}
.individual-product img {
  width: 100px;
  height: 150px;
}
.product-btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  height: auto;
  justify-content: center;
}
#edit-btn {
  padding: 0.3rem 0.5rem;
  background-color: green;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 0.3rem;
}
#delete-btn {
  padding: 0.3rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.3rem;
}
#unit {
  color: rgb(172, 160, 160);
  font-size: 0.8rem;
}
#productname {
  font-weight: 500;
}
