.display-product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.display-product-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  /* box-shadow: 0px 10px 10px 0px rgb(173, 167, 167); */
}
.display-product-header p {
  font-family: "Inter";
  font-weight: 500;
}
