.outer-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  font-family: sans-serif;
  gap: 3rem;
}
.error-container h1 {
  color: red;
}
.error-container img {
  width: 500px;
  height: 200px;
}
.error-container button {
  padding: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  background-color: rgb(154, 154, 194);
  color: white;
  border: none;
  border-radius: 0.4rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.error-container button:hover {
  transform: scale(1.1);
  background-color: blue;
}
