.footer-container {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: -10px -10px 10px rgb(237, 232, 232);
}
.footer-container div {
  display: flex;
  margin-right: 1rem;
  gap: 1rem;
}
