.display-producthome-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

.individula-cateogory-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  width: 95%;
}
.Category-header {
  display: flex;
  justify-content: space-between;
}
.Category-header h4 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(64, 64, 64);
}
#see-all {
  font-size: 1rem;
  background-color: initial;
  border: none;
  font-family: sans-serif;
  font-weight: 100;
  color: rgb(74, 222, 128);
  text-decoration: none;
}
.individula-cateogory-details-container img {
  width: 100%;
  height: 300px;
}
.product-display {
  position: relative;
  display: flex;
  gap: 2rem;
  max-width: 100%;
  overflow-x: scroll;
}
.category-info {
  width: 200px;
  display: flex;
  flex: 0 0 auto;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border: 1px solid rgb(212, 206, 206);
  border-radius: 0.4rem;
  text-decoration: none;
  color: black;
}
.discount-time {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}
.discount-time p {
  color: green;
  font-family: sans-serif;
  background-color: #dcfce7;
}
.price-cart-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem;
}
.product-description {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.quantity {
  font-family: sans-serif;
  font-size: 1rem;
  text-align: left;
}
.product-price {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

#scroll-right {
  position: absolute;
  background-color: white;
  color: black;
  left: 95.5%;
  top: 50%;
  z-index: 9;
  border-radius: 3rem;
  padding: 0.2rem 0.2rem 0 0.2rem;
  font-size: 2rem;
  box-shadow: 2px 2px 5px rgb(186, 180, 180);
}
#scroll-left {
  position: absolute;
  color: black;
  background-color: white;
  top: 50%;
  z-index: 9;
  font-size: 2rem;
  border-radius: 3rem;
  padding: 0.2rem 0.2rem 0 0.2rem;
  font-size: 2rem;
  box-shadow: 2px 2px 5px rgb(186, 180, 180);
}
