.Home-catogory-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}
.individual-home-catogory {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 150px;
  background-color: white;
  font-family: "Inter";
  text-align: center;
  font-weight: 500;
  border-radius: 0.3rem;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 1200px) {
  .individual-home-catogory {
    width: 50px;
  }
}
.individual-home-catogory img {
  width: 100%;
}
