.my-Orders-container {
  width: 100%;
}
.my-order-title {
  padding: 1rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(183, 178, 178);
}
.display-order-container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  overflow: scroll;
}
#order-img {
  width: 200px;
  height: 200px;
}
.display-individual-order {
  display: flex;
  border-radius: 0.4rem;
  flex-direction: column;
  gap: 1rem;
  height: 50vh;
  padding: 1rem;
  width: 200px;
  background-color: white;
}
@media only screen and (max-width: 1200px) {
  .display-individual-order {
    width: 80%;
  }
}
.order-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#order-no {
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
#order-name {
  font-family: sans-serif;
}
