.product-details-container {
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 1200px) {
  .product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
