.productDescriptionDetails-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
@media only screen and (max-width: 1200px) {
  .productDescriptionDetails-container {
    margin: 1rem;
    padding: 1rem;
  }
}
.product-description-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(231, 225, 225);
}
#time {
  background-color: #86efac;
  width: 10%;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 1rem;
}
#name {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
#unit {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: black;
}
.product-description-content {
  display: flex;
  flex-direction: column;
}
#price-name {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 100;
}
.product-description-price {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}
#price-value {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid green;
  border-radius: 0.5rem;
  background-color: #f0fdf4;
}
#original-price {
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: line-through;
}
#discount-percentage {
  font-family: sans-serif;
  font-size: 1rem;
  color: #16a34a;
  font-weight: 600;
}
#add-btn {
  width: 10%;
  margin: 1rem 0;
  padding: 0.6rem 1rem 0.5rem 1rem;
  text-align: center;
  border: none;
  background-color: #15803d;
  color: white;
  border-radius: 0.5rem;
}
.about-app {
  display: flex;
  flex-direction: column;
}
#why-blinkit {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(64, 64, 64);
}
.about-delivery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-superfast-delivery {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.about-superfast-delivery img {
  width: 100px;
  height: 100px;
}
.superfast-delivery-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#super-fast-title {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
#super-fast-description {
  font-family: sans-serif;
  font-size: 1rem;
}
.about-offers {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.about-offers img {
  width: 100px;
  height: 100px;
}
.about-offer-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#best-offer-title {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
#best-offer-description {
  font-family: sans-serif;
  font-size: 1rem;
}
.about-spread {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.about-spread img {
  width: 100px;
  height: 100px;
}
.about-spread-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#wide-title {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
#wide-description {
  font-family: sans-serif;
  font-size: 1rem;
}
#btn-conatiner-add-to-cart {
  margin: 1rem 0;
}
