.navbar-skeleton {
  width: 100%;
}
.full {
  background-color: white;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 20%;
  padding: 1rem;
  border: 1px solid #e0e0e0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
