.subcategory-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}
.subcategory-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  /* box-shadow: 0px 10px 10px 0px rgb(173, 167, 167); */
}
.subcategory-header p {
  font-family: "Inter";
  font-weight: 500;
}
.subcategory-header button {
  padding: 0.3rem;
  background-color: initial;
  border: 2px solid #febf00;
  border-radius: 0.5rem;
}
#menu-sub {
  display: flex;
  gap: 1rem;
}
